<z-card zTitle="Historical Data">
  <div class="flex flex-col gap-4">
    <app-sensor-type-tabs (selectedChange)="onSensorTypeChange($event)" />
    <app-period-tabs (selectedChange)="onPeriodChange($event)" />
    <div class="relative h-72">
      @if (isLoading()) {
        <z-skeleton class="h-full w-full rounded-lg" />
      } @else {
        <canvas
          baseChart
          type="line"
          [data]="chartJsData()"
          [options]="chartOptions()"
          [plugins]="chartPlugins"
        ></canvas>
      }
    </div>
  </div>
</z-card>
